<div class="container-wrap" [ngStyle]="{backgroundColor: backgroundPage, color : themeIndex == 2 ? 'white ' : '#000000'}  ">
  <div class="map-wrapper">
    <div class="title">
      Average Shipment Intensity in Europe (2023)
    </div>
    <svg id="europeMap"></svg>
    <div id="legendContainer"></div>
  </div>


  <div class="radio-container">
    <ng-container *ngFor="let theme of themes; let i = index">
      <div class="radioBOX">
        <label class="big" [ngClass]="themeIndex == i ?'hovered' : ''">
          <input type="radio" name="theme" [value]="i" (change)="changeTheme(i)"  [checked]="themeIndex == i"/>
          <span> {{theme.name}}</span>
        </label>
      </div>
    </ng-container>
  </div>
</div>
